.MenuBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  max-height: 55px;
  font-size: 18px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #a0a0a0;
  background-color: rgb(255, 255, 255);
}

.MenuBar a {
  color: #222222;
  display: block;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: normal;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
