.MenuBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  max-height: 55px;
  font-size: 18px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}

.MenuBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
