.BlogActiveButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.BlogButton {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
  color: #505050;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

.BlogCloseButton {
  margin: 0px 10px 0px 0px;
}

.BlogLinkButton {
  margin: 0px 0px 0px 10px;
}

