.HomePageContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 250px;
  padding: 30px 5% 30px 5%;
  margin: 80px 2% 50px 2%;
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.Bio {
  width: 230px;
  word-wrap: break-word;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

.Bio h1 {
  text-align: left;
}

.ProfilePic {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}

.Intro {
  margin-right: 10px;
  margin-left: 10px;
  width: 750px;
}
