.BlogActiveButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.BlogButton {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  background-color: #d3bbf9;
  color: #694f91;
  border: 2px solid #baa1e2;
  font-weight: bold;
  text-decoration: none;
}

.BlogCloseButton {
  margin: 0px 10px 0px 0px;
}

.BlogLinkButton {
  margin: 0px 0px 0px 10px;
}

