.BlogContent {
  margin: 80px 4% 50px 4%;
  padding: 0px;
  min-width: 250px;
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.FormattingDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 250px;
}
