.ModalBackground {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
}

.ProjectFilterBoundingBox {
  width: 75%;
  max-width: 400px;
  margin: auto;
  position: fixed;
  top: 10%;
}

.ProjectFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  background-color: #fafafa;
}

