h1 {
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.PageContent {
  min-width: 250px;
  padding: 30px 5% 30px 5%;
  margin: 80px 4% 50px 4%;
  text-align: left;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.PageContent h1 {
  margin: 0px 0px 35px 0px;
}

.HomePageContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 250px;
  padding: 30px 5% 30px 5%;
  margin: 80px 4% 50px 4%;
  text-align: left;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.Bio {
  width: 230px;
  word-wrap: break-word;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

.Bio h1 {
  text-align: left;
}

.ProfilePic {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}

.Intro {
  margin-right: 10px;
  margin-left: 10px;
  width: 750px;
}

.ProjectContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px 4% 50px 4%;
}

.ProjectFilters {
  margin: 0px;
  flex-basis: 100%;
  min-width: 300px;
}

.ProjectFilters a {
  background-color: rgb(240, 240, 240);
  color: rgb(180, 180, 180);
  border: 2px solid rgb(180, 180, 180);
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.Project {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 250px;
  flex: 1;
  word-wrap: break-word;
  text-align: left;
  margin: 0px 20px 20px 0px;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.ProjectLink {
  font-weight: bold;
  color: #0366d6;
  text-align: left;
  padding: 0px;
}

.ProjectParagraph {
  flex-grow: 1;
}

.ProjectLanguage {
  display: block;
  float: left;
}

.ProjectDate {
  display: block;
  float: right;
}

.EssaysContent {
  margin: 80px 4% 50px 4%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  min-width: 250px;
}

.EssaysItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0px;
  min-width: 300px;
  flex: 1;
  word-wrap: break-word;
  text-align: left;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

.EssaysItemDate {
  margin: 0px;
  padding: 10px;
}

.EssaysItemDescription {
  margin: 0px;
  padding: 10px;
  word-wrap: break-word;
}

.EssaysItemLink {
  font-weight: bold;
  color: #0366d6;
  text-align: left;
  padding: 10px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0);
}
