.ProjectContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 80px 4% 50px 4%;
}

.ProjectList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
