.ProjectFilter {
  background-color: #fafafa;
  border: 1px solid #a0a0a0;
  padding: 15px;
  margin: 5px;
  flex: 1 0 170px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
